.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.image{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.image p{
   font-size: 18px;
   font-weight: 600;
}

.logo{
    position: relative;
    top: 150px;
    color: rgb(170, 3, 3);
    font-size: 60px;
}

.navbar p{
    font-size: 20px;
}

.start-btn{
    width: 100px;
    height: 40px;
    position: relative;
    top: 170px;
    left: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(228, 163, 43, 0.896);
    font-size: 18px;

}
.img{

    flex-shrink: 0; 
}

@media only screen and (max-width:400px){

    .img{
        width: 300px;
        height: 250px;
    }
    .image{
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }
    .logo{
        font-size: 20px;
    }
    .navbar p{
       font-size: 15px;
       margin-left: 5px;
       display: none;
    }
    .image h1{
        font-size: 20px;

    }
    .image p{
        font-size: 15px;
    }
    
}