.question-container{
    flex-direction: column;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 100px;
    width: 70%;
    height: 70vh;
    background-color:#f7e1ae;
}
.options{
    width: 500px;
    height: 50px;
    background-color: rgb(194, 27, 27);
    margin: auto;
    margin-top: 11px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 15px;
}
.options:hover {
    background-color: #000000;
    box-shadow: 2px 2px 2px 2px ;
}

.highlight-btn{
    margin-top: 10px;
     width: 100px;
     height: 50px;
     background-Color: rgb(199, 199, 110);
     font-Size: 20px;
     color: white;
     border-Radius: 20px;
    
}
.highlight-btn:hover{
    background-color: rgb(0, 0, 0);
}

.remove-highlight-btn{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    background-color: rgb(197, 197, 112);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.remove-highlight-btn:hover{
    background-color: #000000;
}

.btn-cont{
    display: flex;
    justify-content: center;
}

.question{
    display: flex;
    justify-content: center;
}

.question-text{
    display: flex;
    justify-content: center;

}

/* code for device responsive */

@media only screen and (max-width:400px){
    .question-container{
        margin-top:50px;
        width: 300px;
        height: 500px;
    }
    .options{
        width: 100px;
    }
    .highlight-btn{
        margin-top: 10px;
        width: 80px;
        font-size: 15px;
    }
    .remove-highlight-btn{
        margin-top: 10px;
        width: 100px;
        font-size: 15px;
    }
    .question-text{
        font-size: 20px;
    }
    .options{
        font-size: 18px;
       
    }


}